In [11]:
import subprocess

import h5py
import numpy as np
import pandas as pd

In [2]:
file = h5py.File("/Users/jpivarski/storage/data/GHArchive/GHArchive-2022-aggregated.h5")

In [5]:
df = pd.DataFrame({"actor": file["actor_id"], "repo": file["repo_id"], "type": file["event_type_id"], "count": file["count"]})

In [6]:
df

               actor       repo  type  count
0            1770596          1    20      1
1            1844499          1    20      2
2            2328092          1    20      1
3            2518513          1    20      2
4            5856259          1    20      1
...              ...        ...   ...    ...
241050112   33853805  584019457     2      2
241050113  105941599  584019458     2      1
241050114   30952856  584019459     2      2
241050115   52759042  584019460     2      2
241050116   71354125  584019463     2      1

[241050117 rows x 4 columns]

In [7]:
is_comment = (df.type == 10) | (df.type == 11) | (df.type == 15) | (df.type == 16)

In [9]:
df_comment = df[is_comment].drop(columns=["type"])

In [10]:
df_comment

               actor       repo  count
22          41347805          1      1
27          46025304          1      2
74         116427844          1      2
111          1595356         27      2
112          1595356         27      1
...              ...        ...    ...
241048242   99094815  584016253      2
241048842   35613825  584017175      2
241048843   40209326  584017175      1
241048966    1580039  584017373      8
241048990   36114314  584017403      1

[19389146 rows x 3 columns]

In [12]:
bot_actors = np.array(
    [
        int(line.split(b"\t")[0])
        for line in subprocess.Popen(
            [
                "fgrep",
                "[bot]",
                "/Users/jpivarski/storage/data/GHArchive/actor_id_name.txt",
            ],
            stdout=subprocess.PIPE,
        )
        .communicate()[0]
        .split(b"\n")
        if line != b""
    ]
)

In [16]:
pd.Series(bot_actors).to_csv("bot-actors.csv")

In [18]:
seed = [
    # ipython/ipython
    658518,
    # matplotlib/matplotlib
    1385122,
    # networkx/networkx
    890377,
    # pandas-dev/pandas
    858127,
    # scikit-image/scikit-image
    2014929,
    # scikit-learn/scikit-learn
    843222,
    # pydata/xarray
    13221727,
    # scipy/scipy
    1460385,
]

In [19]:
df[df["actor"] == 0]

           actor       repo  type  count
11062163       0   32611596    16      3
16277189       0   54378638    16      1
16737843       0   56915933    16      1
18599358       0   65711522    16      1
21445990       0   79607905    16      1
26520038       0  105711679    16      1
32682954       0  137451403    16      1
41114131       0  180085554    16      1
62819371       0  260273356    16      1
86317163       0  379570608    16      1
174570083      0  515782005    16      1
215656984      0  555827894    16      1